.header {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  row-gap: 0;
}
.header {
  flex-direction: row;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  row-gap: 0;
}
.header div {
  flex: 1;
  padding-top: 2%;
  padding-bottom: 2%;
}
.header div a {
  text-decoration: none;
}
.header-left {
  display: flex;
  flex: 50%;
}
.header-right {
  display: flex;
  flex: 50%;
  background: rgba(231, 244, 255, 1);
  border-left: 2px solid transparent;
}
.logo {
  margin-left: 20%;
  flex-grow: 10;
  font-size: 45px;
}
.logo a {
  color: darkblue;
}
.menu {
  flex-grow: 1;
  text-align: center;
}
.menu a {
  color: darkgray;
  vertical-align: middle;
}
.btn {
  border-radius: 5px;
  flex-grow: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0px 10px 20px rgb(178, 200, 230);
  border: 0;
}
.btn-primary {
  background-color: rgb(57, 57, 214);
  color: white;
  padding: 1em;
}
.btn-outlined {
  background-color: rgb(241, 245, 255);
  color: rgb(62, 94, 204);
  padding: 1em;
}
.body {
  display: flex;
  flex-direction: row;
}
.body div {
  flex: 1;
}
.body div h1 {
  color: rgb(34, 44, 100);
  font-size: 70px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20%;
}
.body div h2 {
  color: rgb(34, 44, 100);
  font-size: 50px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
  padding-top: 40px;
}
.body div p {
  color: rgb(121, 134, 154);
  font-size: 30px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
}
.ml-2 {
  margin-left: 20% !important;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.body-options {
  display: flex;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.body-options div {
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}
.selection:hover {
  box-shadow: 0px 10px 20px rgb(103, 147, 230);
}
.body-options h3 {
  color: rgb(34, 44, 100);
  font-size: 30px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
}
.body-options div p {
  color: rgb(72, 80, 124);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-indications {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
}
.body-indications div {
  flex: 1;
}
.body-indications-bg {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top,
    rgb(86, 120, 231) 62%,
    white 50%,
    white 50%,
    white 100%
  );
  margin-right: 80px;
  position: relative;
  padding-top: 150px;
}
.body-indications div h2 {
  color: rgb(34, 44, 100);
  font-size: 50px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body-indications div p {
  color: rgb(121, 134, 154);
  font-size: 25px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.list-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.list-options div {
  padding-top: 90px;
  flex-grow: 1;
  color: rgb(121, 134, 154);
  font-size: 22px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
  position: relative;
}
.list-options div img {
  padding-right: 50px;
  padding-left: 20px;
  vertical-align: middle;
}
.arrow {
  top: 72%;
  left: 60%;
  margin: 0% 0 0 0%;
  position: absolute;
}
.body-contact {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
}
.body-contact div {
  flex: 1;
}
.body-contact div h2 {
  color: rgb(34, 44, 100);
  font-size: 50px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body-contact-bg {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top,
    rgb(86, 120, 231) 62%,
    white 50%,
    white 50%,
    white 100%
  );
  margin-right: 5px;
  position: relative;
  padding-top: 150px;
}
.body-contact div p {
  color: rgb(121, 134, 154);
  font-size: 25px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  text-align: justify;
  padding-right: 10%;
}
.text-left{
    text-align: left !important;
}
.contact-label {
  padding-top: 10px;
  padding-left: 0px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 0px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 0px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 0px;
  font-size: 30px;
}

.branch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.container {
  align-items: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20%;
  padding-right: 10%;
}
.box {
  box-shadow: 0px 10px 20px rgb(200, 200, 230);
  padding: 10px;
  margin: 10px;
}
.row {
  display: flex;
}
.col {
  flex: 1;
}
.col-3 {
  width: 25%;
}
.col-9 {
  width: 75%;
}

footer {
  padding-top: 200px;
}
.body-footer {
  display: flex;
  align-items: center;
}
.body-footer div {
  padding-left: 10%;
}
.body-footer-1 {
  flex-grow: 3;
}
.body-footer-2 {
  flex-grow: 1;
}
.body-footer-1 h2 {
  color: rgb(45, 48, 182);
  font-size: 35px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body-footer-1 p {
  color: rgb(145, 145, 168);
  font-size: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  line-height: 35px;
}
.body-footer-2 h2 {
  color: rgb(34, 44, 100);
  font-size: 30px;
  font-weight: bold;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body-footer-2 p {
  color: rgb(145, 145, 168);
  font-size: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
footer {
  background-color: rgb(233, 243, 255);
}
.footer {
  display: flex;
  padding-top: 120px;
  padding-bottom: 20px;
}
.footer div {
  flex-grow: 1;
  color: rgb(76, 76, 139);
  font-size: 22px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 10%;
}
.arrow-down {
  margin-left: 10%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid rgb(244, 246, 251);
}
.arrow-left {
  width: 0;
  height: 0;
  float: right;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-right: 200px solid rgb(244, 246, 251);
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 200px solid rgb(244, 246, 251);
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 200px solid rgb(226, 233, 249);
}

@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
